In [ ]:
x = 5
print(x)

5

In [ ]:
# mendefinisikan fungsi yang menampilkan angka 5 di layar
def tampilkan_5():
  x = 5
  print(x)

In [ ]:
# pemanggilan fungsi tampilkan_5()
tampilkan_5()

5

In [ ]:
def fungsi_1():
  n = 10

In [ ]:
print(n) # variabel n tidak dikenal karena n memiliki ruang lingkup lokal (hanya di dalam fungsi fungsi_1() saja)

NameError: ignored

In [ ]:
a = 10

In [ ]:
def fungsi_2():
  print(a) # a bisa diakses karena memiliki lingkup global

In [ ]:
fungsi_2()

10

In [ ]:
def fungsi_3(nama): # variabel nama sbg input fungsi_3 disebut --> parameter
  print("nama saya: ", nama)

In [ ]:
fungsi_3("ani", "budi")

TypeError: ignored

In [ ]:
fungsi_3("budi") # value "ani" sebagai input ketika pemanggilan fungsi_3 disebut --> argument

nama saya:  budi

In [ ]:
def fungsi_4(x, y):
  print(x + y)

In [ ]:
fungsi_4(3, 5)

8

In [ ]:
# contoh arbitrary arguments --> menggunakan tanda asterisks *
def fungsi_5(*nama):
  print("ada: ", len(nama), "nama")
  for i in range(len(nama)): # range(4) --> [0, 1, 2, 3]
    print("nama siswa ke:",i, "adalah", nama[i])

In [ ]:
fungsi_5("ani", "budi", "charli", "dedi")

ada:  4 nama
nama siswa ke: 0 adalah ani
nama siswa ke: 1 adalah budi
nama siswa ke: 2 adalah charli
nama siswa ke: 3 adalah dedi

In [ ]:
def data_peserta(nama, gender, alamat, umur):
  print("nama: ", nama, ", gender: ", gender)
  print("alamat: ", alamat, ", umur: ", umur)

In [ ]:
data_peserta(alamat = "jakarta", nama = "ani", gender = "P", umur = 23)

nama:  ani , gender:  P
alamat:  jakarta , umur:  23

In [ ]:
def fungsi_6(nama = "default"):
  print("nama siswa: ", nama)

In [ ]:
fungsi_6("budi")

nama siswa:  budi

In [ ]:
fungsi_6()

nama siswa:  default

In [ ]:
def fungsi_7(list_matkul):
  print("ada", len(list_matkul), "item")
  for matkul in list_matkul:
    print(matkul)

In [ ]:
daftar_matkul = ['Python Programming', 'Database', 'Calculus']

fungsi_7(daftar_matkul)

ada 3 item
Python Programming
Database
Calculus

In [ ]:
type(daftar_matkul)

list

In [ ]:
list_angka = [1, 2, 3, 4, 5]

# # buatlah fungsi yang menjumlahkan semua angka di dalam list
def jumlah_semua(list_angka):
  print("jumlah semua angka di list:", sum(list_angka)) # fungsi sum() adalah built-in function yang menghitung jumalh semua elemen di dalam list

In [ ]:
jumlah_semua(list_angka)

jumlah semua angka di list: 15

In [ ]:
def perkalian(a, b):
  return a * b

In [ ]:
perkalian(10, 5)

50

In [ ]:
hasil = perkalian(13, 6)

In [ ]:
print(perkalian(100, 100))

10000

In [ ]:
def buat_tuple(a, b):
  return (a, b)

In [ ]:
buat_tuple(5, 8)[1]

8

In [ ]:
def tambah_10(a):
  return a + 10

In [ ]:
hasil = tambah_10(5)
hasil

15

In [ ]:
hasil = lambda a: a + 10

In [ ]:
hasil(5)

15

In [ ]:
cek_status = lambda umur: "remaja" \
  if umur > 10 and umur < 20 else "bukan remaja"

In [ ]:
def cek_status_1(umur):
  status = ""
  if umur > 10 and umur < 20:
    status = "remaja"
  else:
    status = "bukan remaja"
  return status

In [ ]:
cek_status_1(umur)

'bukan remaja'

In [ ]:
umur = 31
cek_status(umur)

'bukan remaja'

In [ ]:
import math # mengimpor module bawaan python math untuk kita bisa panggil fungsi2nya dari modul math tsb

In [ ]:
print(math.pow(3, 3)) # menghitung hasil 3 pangkat 3

27.0

In [ ]:
print(math.pi)

3.141592653589793